.app{

min-height:100vh;

background:var(--background);

}

.page-container{

width:min(100%, 1200px);

margin:auto;

padding:38px 32px 126px;

}

.exercise-player-layout{

min-height:100vh;

}

@media(max-width:900px){

.page-container{

padding:20px;

}

}
